@import "src/styles/env"

.records
    +flex-column
    gap: 2rem
    align-items: center
    width: 100%

    @include phone
        margin: 1rem

    @include tablet-and-desktop
        flex: 1 0 0
        margin-right: 2rem

    &-show-more
        display: block
        margin: 2rem auto
        width: 90%

        &--disabled
            display: none

    .ais-Pagination
        margin: 1rem 0

        &-list
            +flex
            gap: .5rem
            font-family: sans-serif

        &-item
            &--selected
                .ais-Pagination-link
                    border-radius: .2rem
                    border-color: #8b0304
                    background-color: #8b0304
                    color: #ffffff

                    &:hover
                        background-color: #8b0304

            &--previousPage, &--nextPage
                .ais-Pagination-link
                    &:hover
                        background-color: initial
            &--disabled
                opacity: .6

        &-link
            text-decoration: none
            color: initial
            +flex-center
            width: 1.3rem
            height: 1.3rem
            padding: .4rem
            border: 1px solid #d0d0d0

            &:hover
                border-radius: .2rem
                background-color: #d0d0d0


